@font-face {
    font-family: myFirstFont;
    src: url("Raleway-Regular.ttf");
}

.body{
    font-family: myFirstFont,sans-serif;
}

.title-pg {
    font-size: 22px;
    text-align: center;
    margin-bottom: 24px;
    font-family: myFirstFont,sans-serif;
}



th,td,table, .btn, .form, select,li,.navbar-brand,a  {
    font-family: myFirstFont,sans-serif;
}

.borda-filtro {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: solid;
}

.edit {
    background: #06a5a5;
}

.delete{
    background: #da1e38;}

.actions{

    padding: 6px;
    color: #FFF;
    text-decoration: none;
    font-size: 1em;
    margin: 0px 2px;
}

.actions:hover {
    text-decoration: none;
    color:black;
}

.btn-add{
    margin-bottom: 10px;
  
}